.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 5rem;
}

.awesome>*{
    font-size: 2rem;
    font-weight: bold;
}

.awesome>span:nth-of-type(2){
    color: var(--orange);
}
.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  
}

.user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid var(--orange);
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}