.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
}

.archievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.54rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
}

.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #ebb136,#8c58c7 );
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}
.archievement span:nth-of-type(2)
{
    color: va;
}

@media screen and (max-width: 480px) {
    .archievement{
        transform: scale(0.8);
        width: auto;
    }
    .experience{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 30vh;
    }
}